.all-task-main-div{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    /* width: 1000px; */
    padding: 20px; 
    margin: 0 auto; 
    background-color: rgb(230, 230, 230);
    margin-top: 70px;
    margin-bottom: 70px;
    @media (min-width: 768px) {
        width: 50%; 
    }
}